<br></br>
<span style = "color: green; font-family: courier new; font-size: 80px">**Document**</span>


---

## <font color = "red">Data Type</font>

- **None**
- **Numeric**
    - int
    - float
    - complex
    - bool
- **Sequence**
    - list
        - indexing
        - .append()
        - .insert()
        - .count()
        - .index()
        - .sort()
        - .reverse()
        - .pop()
        - .remove()
        - .extend()
        - .clear()
    - tuple
    - set
        - .add()
        - .difference()
        - .intersection()
        - .issubset()
        - .union()
    - string
        - .strip()
        - .lower()
        - .upper()
        - .title()
        - .swapcase()
        - .split()
        - .find()
        - .count()
        - .replace()
- **range**
- **Dictionary**  

---
## <font color = "red">Operator</font>  

- **Math Operator**
    - **+**  (Plus)
    - **-**  (Minus)
    - __*__  (Multiply)
    - **/**  (Divide)
    - __**__  (Power)
    - **//**  (Integer Divide)
    - **%**  (Modulator)
    
- **Logical Operator**
    - **&**  (And)
    - **|**  (Or)
    - **not**
    - **Comparison**
        - **>** (More than)
        - **<** (Less than)
        - **==** (Equal to)
        - **!=** (Not equal to)
        - **>=** (More than or Equal to)
        - **<=** (Less than or Equal to)
    
---
## <font color = "red">If Else</font>

- **if**
- **else**
- **elif**

---
## <font color = "red">Loop</font>

- **for loop**
    - continue
    - break
- **while loop**
- **list comprehension**
    - no condition
    - have condition
---
## <font color = "red">Function</font>
- **Normal function**
    - return
- **map**
- **reduce**
- **filter**
- **lambda function**

![python](https://learnersgalaxy.ai/wp-content/uploads/2024/01/Python-Symbol.png)

---
---
<br></br>
<span style = "color: red; font-size: 50px">**Data Type**</font>  
- **None**
- **Numeric**
    - int
    - float
    - complex
    - bool
- **Sequence**
    - list 
    - tuple
    - set
    - string
    - range
- **Dictionary**

---
<span style = "color: blue; font-size: 30px">**None**</span>  

---

In [1]:
# Set X equal to None datat type
x = None

print(x)
print(type(x))

None
<class 'NoneType'>

---
<span style = "color: blue; font-size: 30px">**Numeric**</span>

**Numeric is a number data type**
- int
- float
- complex
- bool
---

### <font color = 'cornflowerblue'>int (Integer)</font>

In [2]:
# Set x equal to some integer 
x = 8

print(x)
print(type(x))

8
<class 'int'>

In [3]:
# You can also convert float type variable into int using int()
# It will floor the number

# Change 8.63 into int
int(8.63)

8

---
### <font color = 'cornflowerblue'>float (Decimal)</font>

In [4]:
# Set x equal to some decimal 
x = 11.234

print(x)
print(type(x))

11.234
<class 'float'>

In [5]:
# You can also convert int type variable into float using float()

# Change 15 into float
float(15)

15.0

---
### <font color = 'cornflowerblue'>complex</font>

In [6]:
# Set x equal to some complex number
x = 7 + 3j

print(x)
print(type(x))

(7+3j)
<class 'complex'>

In [7]:
# You can also create complex variable using complex()
complex(14,6)

(14+6j)

---
### <font color = 'cornflowerblue'>bool (Boolean)</font>

In [8]:
# Set x and y equal to boolean 
x = True
y = False

print(x)
print(type(x), "\n")
print(y)
print(type(y))

True
<class 'bool'>

False
<class 'bool'>

In [9]:
# You can also convert True, False into number 1 and 0 using int() or float()

# Convert x to number using int()
print(f'Before convert x = {x}')
print(f'After convert x = {int(x)} \n')

# Convert y to number using float()
print(f'Before convert y = {y}')
print(f'After convert y = {float(y)}')

Before convert x = True
After convert x = 1

Before convert y = False
After convert y = 0.0

---
<span style = "color: blue; font-size: 30px">**Sequence**</span>
- **list**
    - indexing
    - .append()
    - .insert()
    - .count()
    - .index()
    - .sort()
    - .reverse()
    - .pop()
    - .remove()
    - .extend()
    - .clear()
- **tuple**
- **set**
    - .add()
    - .difference()
    - .intersection()
    - .issubset()
    - .union()
- **string**
    - .strip()
    - .lower()
    - .upper()
    - .title()
    - .swapcase()
    - .split()
    - .find()
    - .count()
    - .replace()
- **range**
---

### <font color = 'cornflowerblue'>list</font>

In [10]:
# Create a number list using []
num_list = [1,3,5,7,9,11,13,15,17]

print(num_list)
print(type(num_list))

[1, 3, 5, 7, 9, 11, 13, 15, 17]
<class 'list'>

In [11]:
# Create a string list using []
str_list = ["John", "Sam", "Buggy", "Wanji", "Loro"]

print(str_list)
print(type(str_list))

['John', 'Sam', 'Buggy', 'Wanji', 'Loro']
<class 'list'>

In [12]:
# Actually we can combine anything in list
# Combine number string and list in list
com_list = [1,2,3,"one","two","three",[1,2,3]]

print(com_list)
print(type(com_list))

[1, 2, 3, 'one', 'two', 'three', [1, 2, 3]]
<class 'list'>

**<u>Indexing<U>**

In [13]:
# Create a list
list = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]

print(list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [14]:
# index in list start at 0
# list_name[start:stop:step]
# start is include stop is exclude

# Use indexing to select 0 to 7 element
list[0:8]

[1, 2, 3, 4, 5, 6, 7, 8]

In [15]:
# Use indexing to select 0 to 16 element with step of 2
list[0:17:2]

[1, 3, 5, 7, 9, 11, 13, 15, 17]

In [16]:
# Use indexing to select -1 to -12 element (indexing backward)
list[:-12:-1]

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10]

**<u>Attribute and Method<u>**

In [17]:
list = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]

print(list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [18]:
# find all attribute and method of list using dir()
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

**<u>append<u>**

In [19]:
# Use .append() to append something at the end of the list
print(f'Before append list = {list}')

# append() number 100, 1000, 1500, 3000, 5000 to list
# You can only append 1 element per one append
list.append(100)
list.append(1000)
list.append(1500)
list.append(3000)
list.append(3000)
list.append(1500)
list.append(1500)

print(f'After append list = {list}')

Before append list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
After append list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 100, 1000, 1500, 3000, 3000, 1500, 1500]

**<u>insert<u>**

In [20]:
# Use .insert() to insert element just like .append() but you can specify the index where you want to insert
print(f'Before insert list = {list}')

# insert 10000 at in dex 9
list.insert(9,10000)

print(f'After insert list = {list}')

Before insert list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 100, 1000, 1500, 3000, 3000, 1500, 1500]
After insert list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10000, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 100, 1000, 1500, 3000, 3000, 1500, 1500]

**<u>count<u>**

In [21]:
# Use .count() to count how many time that specific element appear in the list
print(f'list = {list}\n')

# Count how many time 1, 3000, 1500 appear in the list
print(f'1 appear {list.count(1)} time')
print(f'3000 appear {list.count(3000)} time')
print(f'1500 appear {list.count(1500)} time')

list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10000, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 100, 1000, 1500, 3000, 3000, 1500, 1500]

1 appear 1 time
3000 appear 2 time
1500 appear 3 time

**<u>index<u>**

In [22]:
# Use .index() to find index position of specific element
print(f'list = {list}\n')

# Find index position of 13, 100
print(f'index of 13 is {list.index(13)}')
print(f'index of 100 is {list.index(100)}')

list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10000, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 100, 1000, 1500, 3000, 3000, 1500, 1500]

index of 13 is 13
index of 100 is 21

In [23]:
# If that element appear many time in the list it will show index which first of that element appear

# Find index of 1500, 3000
print(f'index of 1500 is {list.index(1500)}')
print(f'index of 3000 is {list.index(3000)}')

index of 1500 is 23
index of 3000 is 24

**<u>sort<u>**

In [24]:
# Use .sort() to sort element in the list in ascending or descending order
print(f'list = {list}\n')

# Sort list in ascending order
list.sort()
print(f'Ascending sort = {list}')

# Sort list in descending order using reverse = True
list.sort(reverse = True)
print(f'Descending sort = {list}')

list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10000, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 100, 1000, 1500, 3000, 3000, 1500, 1500]

Ascending sort = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 100, 1000, 1500, 1500, 1500, 3000, 3000, 10000]
Descending sort = [10000, 3000, 3000, 1500, 1500, 1500, 1000, 100, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

**<u>reverse<u>**

In [25]:
# Use .reverse() to sort the list in reverse 
print(f'Original list = {list}')

# Reverse the list
list.reverse()
print(f'Reverse list = {list}')

Original list = [10000, 3000, 3000, 1500, 1500, 1500, 1000, 100, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
Reverse list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 100, 1000, 1500, 1500, 1500, 3000, 3000, 10000]

**<u>pop<u>**

In [26]:
# Use .pop() to remove last element in the list
print(f'Before pop list = {list}')

# Pop the last element
list.pop()
print(f'After pop list = {list}')

Before pop list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 100, 1000, 1500, 1500, 1500, 3000, 3000, 10000]
After pop list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 100, 1000, 1500, 1500, 1500, 3000, 3000]

In [27]:
# You can use .pop() with for loop
for i in range(1,8):
    list.pop()
    
print(f'list = {list}')

list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

**<u>remove<u>**

In [28]:
# Use .remove() to remove element in the list just like .pop() but you can specify what element you want to remove
print(f'Before remove list = {list}')

# Remove 10 from the list
list.remove(10)
print(f'After remove list = {list}')

Before remove list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
After remove list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

**<u>extend<u>**

In [29]:
# Use .extend() to add iterable element to the list
# iterable object is list, tuples, sets, dictionary, string

list_1 = [1,2,3,4,5]
tuple_1 = [10,20,30,40,50]
set_1 = {100,200,300,400,500}
dict_1 = {"John": 150, "Sam": 220, "Barn": 340}
str_1 = "star"
list_2 = []

print(f'Before extend list_2 = {list_2}')

# Extend list_2 with list_1, tuple_1, set_1, dict_1, str_1
list_2.extend(list_1)
list_2.extend(tuple_1)
list_2.extend(set_1)
list_2.extend(str_1)
list_2.extend(dict_1.keys())
list_2.extend(dict_1.values())

print(f'After extend list_2 = {list_2}')

Before extend list_2 = []
After extend list_2 = [1, 2, 3, 4, 5, 10, 20, 30, 40, 50, 400, 100, 500, 200, 300, 's', 't', 'a', 'r', 'John', 'Sam', 'Barn', 150, 220, 340]

**<u>clear<u>**

In [30]:
# Use .clear() to clear all element in the list
print(f'Before clear list_2 = {list_2}')

# Clear list_2
list_2.clear()

print(f'After clear list_2 = {list_2}')

Before clear list_2 = [1, 2, 3, 4, 5, 10, 20, 30, 40, 50, 400, 100, 500, 200, 300, 's', 't', 'a', 'r', 'John', 'Sam', 'Barn', 150, 220, 340]
After clear list_2 = []

---
### <font color = 'cornflowerblue'>tuple</font>

In [31]:
# Tuple is like list but it can't be modify like list 
# Create tuple using ()
tup = (1,2,3,4,5)

print(tup)
print(type(tup))

(1, 2, 3, 4, 5)
<class 'tuple'>

---
### <font color = 'cornflowerblue'>set</font>

In [32]:
# Set can't contain a duplicate element 
# Create set using {}
set_1 = {1,2,2,3,4,5,5,5,6,7,7,8,9,10,11,12,13,13,14,15,16,17,18,18,19,20,20}

print(set_1)
print(type(set_1))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}
<class 'set'>

In [33]:
# find all attribute and method of set using dir()
dir(set_1)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

**<u>add<u>**

In [34]:
# Use .add() to add element to set
print(f'Before add set_1 = {set_1}')

# Add 10,20,25,30 to set_1
set_1.add(10)
set_1.add(20)
set_1.add(25)
set_1.add(30)

print(f'After add set_1 = {set_1}')

Before add set_1 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}
After add set_1 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 25, 30}

**<u>difference<u>**

In [35]:
# Use .difference to find difference between two set
# It use to find element that only appear in itself not other set that it compare to

# Create set_2
set_2 = {5,10,15,20,25,30}
print(f'set_1 = {set_1}')
print(f'set_2 = {set_2}')

# Find difference between set_1 and set_2
print(f'\nDifference between set_1 and set_2 = {set_1.difference(set_2)}')

# Find difference between set_2 and set_1
print(f'Difference between set_2 and set_1 = {set_2.difference(set_1)}')

set_1 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 25, 30}
set_2 = {20, 5, 25, 10, 30, 15}

Difference between set_1 and set_2 = {1, 2, 3, 4, 6, 7, 8, 9, 11, 12, 13, 14, 16, 17, 18, 19}
Difference between set_2 and set_1 = set()

**<u>intersection<u>**

In [36]:
# Use .intersection to find intersection between two set

# Create set_3 and set_4
set_3 = {2,4,6,8,10,12,14,16,18,20,22,24,26,28,30}
set_4 = {3,6,9,12,15,18,21,24,27,30}

print(f'set_3 = {set_3}')
print(f'set_4 = {set_4}')

# Find intersection of set_3 and set_4
print(f'\nset_3 intersect set_4 = {set_3.intersection(set_4)}')

set_3 = {2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30}
set_4 = {3, 6, 9, 12, 15, 18, 21, 24, 27, 30}

set_3 intersect set_4 = {6, 12, 18, 24, 30}

**<u>issubset<u>**

In [37]:
# Use .issubset() to find that set is subset of other set

# Create set_5, set_6 and set_7
set_5 = {1,2,3,4}
set_6 = {1,2,3,4,5,6,7,8,9,10}
set_7 = {2,3,4,5,7,8,11}

print(f'set_5 = {set_5}')
print(f'set_6 = {set_6}')
print(f'set_7 = {set_7}')

# Find if set_5 issubset of set_6 and set_7
print(f'\nset_5 is subset of set_6 is {set_5.issubset(set_6)}')
print(f'set_5 is subset of set_7 is {set_5.issubset(set_7)}')

set_5 = {1, 2, 3, 4}
set_6 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
set_7 = {2, 3, 4, 5, 7, 8, 11}

set_5 is subset of set_6 is True
set_5 is subset of set_7 is False

**<u>union<u>**

In [38]:
# Use .union() to union set

# Create set_8 and set_9
set_8 = {1,3,5,7,9}
set_9 = {2,4,6,8,10}

print(f'set_8 = {set_8}')
print(f'set_9 = {set_9}')

# Union set_8 and set_9
print(f'\nset_8 union set_9 = {set_8.union(set_9)}')

set_8 = {1, 3, 5, 7, 9}
set_9 = {2, 4, 6, 8, 10}

set_8 union set_9 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

---
### <font color = 'cornflowerblue'>string</font>

In [39]:
# String is only a group of letter combine together to form a word or even sentence
# Create a string
name = " Johny Bravo "

print(f'name = {name}')

name =  Johny Bravo

In [40]:
# find all attribute and method of string using dir()
dir(name)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

**<u>strip<u>**

In [41]:
# Use .strip() to trim the space infront and back of that string

# Before strip
name

' Johny Bravo '

In [42]:
# After strip
name = name.strip()
name

'Johny Bravo'

**<u>lower<u>**

In [43]:
# Use .lower() to lower the case of string
print(f'Before lower {name}')

# lower the string
name = name.lower()
print(f'After lower {name}')

Before lower Johny Bravo
After lower johny bravo

**<u>upper<u>**

In [44]:
# Use .upper() to upper the case of string
print(f'Before upper {name}')

# upper the string
name = name.upper()
print(f'After upper {name}')

Before upper johny bravo
After upper JOHNY BRAVO

**<u>title<u>**

In [45]:
# Use .title() to upper each first letter of string
print(f'Before title {name}')

# Title the string
name = name.title()
print(f'After title {name}')

Before title JOHNY BRAVO
After title Johny Bravo

**<u>swapcase<u>**

In [46]:
# Use .swapcase() to swap upper and lower case
print(f'Before swapcase {name}')

# Swap the string
name = name.swapcase()
print(f'After swapcase {name}')

Before swapcase Johny Bravo
After swapcase jOHNY bRAVO

**<u>split<u>**

In [47]:
# Use to .split() string into list by the space

# Set name_list equal to split of name
name_list = name.split()
print(name_list)

['jOHNY', 'bRAVO']

**<u>find<u>**

In [48]:
# Use .find() to find specific letter in the string
print(name)

# Find letter N in name string
name.find("N")

jOHNY bRAVO

3

**<u>count<u>**

In [49]:
# Use .count() to count how many time that letter appear in the string
print(name)

# Coutn how many time O appear in name string
name.count("O")

jOHNY bRAVO

2

**<u>replace<u>**

In [50]:
# Use .replace() to replace letter or word in the string
print(f'Before replace {name}')

# Replace bRAVO with SIN
name = name.replace("bRAVO", "SIN")
print(f'After replace {name}')

Before replace jOHNY bRAVO
After replace jOHNY SIN

---
### <font color = 'cornflowerblue'>range</font>

In [1]:
# Range is just a range of number 

# Create range of 0 to 20
# 0 is include 20 is exclude
num_range = range(0,20)

print(num_range)
print(type(num_range))

range(0, 20)
<class 'range'>

In [2]:
# You can turn range into list using list()
list(num_range)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]


---
<span style = "color: blue; font-size: 30px">**Dictionary**</span>

**Dictionary is a datatype that contain key ans value each key will be unique and will have it own value**

---

In [4]:
# Create dictionary usig {:}
student_dict = {"first_name":"Alan", "last_name":"Sanderson", "Departmenr":"Engineering", "Age":27, "GPA": 3.27}

print(student_dict)
print(type(student_dict))

{'first_name': 'Alan', 'last_name': 'Sanderson', 'Departmenr': 'Engineering', 'Age': 27, 'GPA': 3.27}
<class 'dict'>

In [5]:
# find all attribute and method of dictionary using dir()
dir(student_dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

**<u>get<u>**

In [6]:
# Use .get() to get the value of key that you specify
print(student_dict)

# Get value of Age
print(f'\nValue of Age is {student_dict.get("Age")}')

{'first_name': 'Alan', 'last_name': 'Sanderson', 'Departmenr': 'Engineering', 'Age': 27, 'GPA': 3.27}

Value of Age is 27

**<u>keys<u>**

In [7]:
# Use .keys() to get every keys in dictionary
print(student_dict.keys())

dict_keys(['first_name', 'last_name', 'Departmenr', 'Age', 'GPA'])

**<u>values<u>**

In [8]:
# Use .values() to get every values in dictionary
print(student_dict.values())

dict_values(['Alan', 'Sanderson', 'Engineering', 27, 3.27])

**<u>clear<u>**

In [9]:
# Use .clear() to clear all thing in dictionary
print(f'Before clear {student_dict}')

# Clear dictionary
student_dict.clear()
print(f'After clear {student_dict}')

Before clear {'first_name': 'Alan', 'last_name': 'Sanderson', 'Departmenr': 'Engineering', 'Age': 27, 'GPA': 3.27}
After clear {}

---
---
<br></br>
<span style = "color: red; font-size: 50px">**Operator**</span>  
- **Math Operator**
    - **+**  (Plus)
    - **-**  (Minus)
    - __*__  (Multiply)
    - **/**  (Divide)
    - __**__  (Power)
    - **//**  (Integer Divide)
    - **%**  (Modulator)
    
- **Logical Operator**
    - **&**  (And)
    - **|**  (Or)
    - **not**
    - **!=** (Not equal)
    - **==**  (Equal)

---
<span style = "color: blue; font-size: 30px">**Math Operator**</span>  
- **+**  (Plus)
- **-**  (Minus)
- __*__  (Multiply)
- **/**  (Divide)
- __**__  (Power)
- **//**  (Integer Divide)
- **%**  (Modulator)
---

**+ (Plus)**

In [10]:
# Use + for plusing number
5+7

12

---
**- (Minus)**

In [11]:
# Use - for minusing number 
18-4

14

---
__* (Multiply)__

In [12]:
# Use * for multiplying number 
5*4

20

---
**/ (Divide)**

In [13]:
# Use / for divide number
20/3

6.666666666666667

---
__** (Power)__

In [14]:
# Use ** for power the number
4**3

64

---
**// (Integer Divide)**

In [15]:
# Use // for integer divide
20//3

6

---
**% (Modulator)**

In [16]:
# Use % for remainder divide
20%3

2

---
<span style = "color: blue; font-size: 30px">**Logical Operator**</span>  
- **&**  (And)
- **|**  (Or)
- **not**
- **Comparison**
    - **>** (More than)  
    - **<** (Less than)  
    - **==** (Equal to) 
    - **!=** (Not equal to)
    - **>=** (More than or Equal to)  
    - **<=** (Less than or Equal to)
---

![truth_table](https://www.realdigital.org/img/228d4788d26e286b5706f6d644ddee8b.svg)

**& (And)**

In [17]:
# Use True and False
print(f'True & False is {True & False}')

# Use 1 and 0
print(f'1 & 0 is {1 & 0}')

True & False is False
1 & 0 is 0

**| (Or)**

In [18]:
# Use True and False
print(f'True | False is {True | False}')

# Use 1 and 0
print(f'1 | 0 is {1 | 0}')

True | False is True
1 | 0 is 1

**not**

In [19]:
# Use True and False
print(f'not True is {not True}')
print(f'not False is {not False}')

# Use 1 and 0
print(f'\nnot 1 is {not 1}')
print(f'not 0 is {not 0}')

not True is False
not False is True

not 1 is False
not 0 is True

**> (More than)**

In [20]:
2 > 1

True

**< (Less than)**

In [21]:
10 < 5

False

**== (Equal to)**

In [22]:
20 == (10 * 2)

True

**!= (Not equal to)**

In [23]:
100 != (25 * 5)

True

**>= (More than or Equal to)**

In [24]:
27 >= (3 ** 3)

True

**<= (Less than or Equal to)**

In [25]:
16 <= (2 ** 3)

False

---
---
<br></br>
<span style = "color: red; font-size: 50px">**If Else**</span>  
- **if**
- **else**
- **elif**

---
<span style = "color: blue; font-size: 30px">**if**</span>
<br></br>
**Use to check the condition if the condition is True do something**

In [26]:
# User want to register to event but we have to check their age if age is more than or equal to 18 then they can

# Set age of user
age = 23

# Use if to check user age
if age >= 18:
    print("Welcome to event")

Welcome to event

---
<span style = "color: blue; font-size: 30px">**else**</span>
<br></br>
**Use after if to do something if the condition in if statement is not True**

In [27]:
# User want to register to event but we have to check their age if age is more than or equal to 18 then they can
# Now if their age is less than 18 they are to young to register

# Set age of user
age = 15

# Use if and else to check user age
if age >= 18:
    print("Welcome to event")
else:
    print("You are underage")

You are underage

---
<span style = "color: blue; font-size: 30px">**elif**</span>
<br></br>
**elif stand for else if it use when you have more than condition to check**

In [28]:
# User want to register to event but we have to check their age if age is more than or equal to 18 then they can
# Now if their age is less than 18 they are to young to register
# Also if their age is more than 45 then they are to old to enter the event

# Set age of user
age = 51

# Use if, elif and else to check user age
if age < 18:
    print("You are underage")
elif age > 45:
    print("Your age exceed limit")
else:
    print("Welcome to event")

Your age exceed limit

In [29]:
# You can also use logical operator & and | to combine the condition

# Let only make condition as the one who can enter the event must have age between 18 to 45

# Set age of user
age = 48

# Use if and else to check user age
if (age >= 18) & (age <= 45):
    print("Welcome to event")
else:
    print("Your age was not qualify")

Your age was not qualify

---
---
<br></br>
<span style = "color: red; font-size: 50px">**Loop**</span>  
- **for loop**  
    - continue  
    - break
- **while loop**
- **list comprehension**
    - no condition
    - have condition

---
<span style = "color: blue; font-size: 30px">**for loop**</span>
<br></br>
**Use for loop to execute code a fixed number of time. You can iterate over iterable object such as range, string, list, dictionary**

In [30]:
# Use range

# Create for loop to print number one to 10
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [31]:
# Use string

# Create string
str_loop = "Hello World"

# Create for loop to print each letter of string
for x in str_loop:
    print(x)

H
e
l
l
o

W
o
r
l
d

In [32]:
# Use list index

# Create list 
list_loop = [10,20,30,40,50]

# Create for loop to print each index of list using len()
for i in range(len(list_loop)):
    print(i)

0
1
2
3
4

In [33]:
# Use list item

# Create list
list_name_loop = ["John", "Bob", "Delan", "Rafa", "Elton", "Patrick"]

# Create for loop to print each item in the list
for item in list_name_loop:
    print(item)

John
Bob
Delan
Rafa
Elton
Patrick

In [34]:
# Use both list index and item using enumerate()

# Create for loop to print each index and item in the list
for i, item in enumerate(list_name_loop):
    print(f'index: {i} item: {item}')

index: 0 item: John
index: 1 item: Bob
index: 2 item: Delan
index: 3 item: Rafa
index: 4 item: Elton
index: 5 item: Patrick

---
### <font color = 'cornflowerblue'>continue</font>
**Use to skip the iteration to next iteration**

In [35]:
# Create list of number from 1 to 10
list_num = list(range(1,11))

# Create for loop to print every number in list_num except 7
for item in list_num:
    if item == 7:
        continue
    print(item)

1
2
3
4
5
6
8
9
10

---
### <font color = 'cornflowerblue'>break</font>
**Use to break out of the loop**

In [36]:
# Create a for loop to print every number list_num and break at 7
for item in list_num:
    if item == 7:
        break
    print(item)

1
2
3
4
5
6

---
<span style = "color: blue; font-size: 30px">**while loop**</span>
<br></br>
**Use while loop to execute code continuely if the specify condition is remain True**

In [37]:
# Create while loop to print number from 1 to 10
i = 0

while i < 11:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9
10

---
<span style = "color: blue; font-size: 30px">**list comprehension**</span>
<br></br>
**Use to insert item into list using help of loop and if else statement**

---
### <font color = 'cornflowerblue'>no condition</font>
**list comprehension = [expression for item in iterable object]**

In [38]:
# Use list comprehension to create a list of number from 1 to 10 to the power of 3

# list comprehension = [expression for item in iterable object]
list_power3 = [item ** 3 for item in range(1,11)]

print(f'list_power3 = {list_power3}')

list_power3 = [1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [39]:
# Use list comprehension to create a list that is the number in this list multiply by 2
list_normal = [12,5,17,23,7,64,128,32,77]

# list comprehension = [expression for item in iterable object]
list_mul2 = [item * 2 for item in list_normal]

print(f'list_mul2 = {list_mul2}')

list_mul2 = [24, 10, 34, 46, 14, 128, 256, 64, 154]

---
### <font color = 'cornflowerblue'>have condition</font>
**list comprehension = [expression (if else statement) for item in iterable object]**

In [40]:
import numpy as np

In [41]:
# Use list comprehension to create list that tell the number from this list is odd or even
list_forcheck = np.random.randint(1,20,10) 

# list comprehension = [expression (if statement) for item in iterable object]
list_even = ["Even" if (item % 2 == 0) else "Odd" for item in list_forcheck]

print(f'list_forcheck = {list_forcheck}')
print(f'list_even = {list_even}')

list_forcheck = [15  4 14  6 13 15 17  3 13 12]
list_even = ['Odd', 'Even', 'Even', 'Even', 'Odd', 'Odd', 'Odd', 'Odd', 'Odd', 'Even']

---
---
<br></br>
<span style = "color: red; font-size: 50px">**Function**</span>  
- **Normal function**
    - return
- **map**
- **reduce**
- **filter**
- **lambda function**

---
<span style = "color: blue; font-size: 30px">**Normal function**</span>
<br></br>
**Function is a block of reuseable code you can write function specify what that function will do and cal the function to use it as you want**

In [42]:
# Write a function that calculate the area of circle from given radius
def cir_area(rad):
    area = 3.14 * (rad)**2
    print(f'Area of circle is {area}')

In [43]:
# Use cir_area function to calculate area of circle with radius of 4
cir_area(4)

Area of circle is 50.24

In [44]:
# Write a function that will convert temperature from celcius to fahrenheit
def tem_con(celcius):
    fahren = round((celcius * (9/5)) + 32, 3)
    print(f'{celcius} C is {fahren} F')

In [45]:
# Use tem_con function to convert 37.45 celcius to fahrenheit
tem_con(37.45)

37.45 C is 99.41 F

---
### <font color = 'cornflowerblue'>return</font>
**Use to return something from function**

In [46]:
# Write a function that calculate the area of circle from given radius and return the value
def cir_area_return(rad):
    return round(3.14 * (rad)**2, 3)

In [47]:
# Use cir_area_return function to get area of circle with radius of 4 and store value in cir_area_val
cir_area_val = cir_area_return(4)

print(f'Area of circle is {cir_area_val}')

Area of circle is 50.24

In [48]:
# Write a function that will return a convert temperature from celcius to fahrenheit
def tem_con_return(celcius):
    return round((celcius * (9/5)) + 32, 3)

In [49]:
# Use tem_con function to get convert value of 37.45 celcius to fahrenheit and store value in cel_fah_val 
cel_fah_val = tem_con_return(37.45)

print(f'37.45 C is {cel_fah_val} F')

37.45 C is 99.41 F

---
<span style = "color: blue; font-size: 30px">**map**</span>
<br></br>
**Use to appplied function to each item in iterable object**

In [50]:
# Create a list of circle radius
rad_list = [1,3,2,8,4,2.5,1.6,10,5.4,3.3]

print(f'rad_list = {rad_list}')

rad_list = [1, 3, 2, 8, 4, 2.5, 1.6, 10, 5.4, 3.3]

In [51]:
# Use cir_area_return function that we write before to calculate area of cirlce of all radius in the list use map
area_list = map(cir_area_return, rad_list)

print(area_list)

<map object at 0x0000020EFF8B0820>

In [52]:
# You can convert map object into list using list()
area_list = list(area_list) 

print(area_list)

[3.14, 28.26, 12.56, 200.96, 50.24, 19.625, 8.038, 314.0, 91.562, 34.195]

In [53]:
# Create a list of temperature in celcius
cel_list = [31,32,33,34,35,36,37,38,34.2,35.6,27.8,25]

print(f'cel_list = {cel_list}')

cel_list = [31, 32, 33, 34, 35, 36, 37, 38, 34.2, 35.6, 27.8, 25]

In [54]:
# Use tem_con_return function that we write before to convert celcius to fahrenheit of all temperature in the list
fah_list = map(tem_con_return, cel_list)

print(fah_list)

<map object at 0x0000020EFF8B0A60>

In [55]:
# You can convert map object into list using list()
fah_list = list(fah_list) 

print(fah_list)

[87.8, 89.6, 91.4, 93.2, 95.0, 96.8, 98.6, 100.4, 93.56, 96.08, 82.04, 77.0]

---
<span style = "color: blue; font-size: 30px">**reduce**</span>
<br></br>
**Use to applied function on iterable object and reduce it into single cumulative value. It will applied function on the first 2 item in the iterable and repeat process until 1 value remain**

In [66]:
# Create a list of number 1 to 15
num_115 = list(range(1,16))

print(f'num_115 = {num_115}')

num_115 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [67]:
# Create function to multiply number
def multi(x, y):
    return x * y

In [68]:
# Import reduce
from functools import reduce

# Use reduce and multi function to find factorial of 25 which is all number in the list multiply together
factorial = reduce(multi, num_115)

print(f'factorial is {factorial}')

factorial is 1307674368000

In [69]:
# Create list of letter 
letter_list = ["H", "e", "l", "l", " ", "W", "o", "r", "l", "d"]

print(f'letter_list = {letter_list}')

letter_list = ['H', 'e', 'l', 'l', ' ', 'W', 'o', 'r', 'l', 'd']

In [70]:
# Create function to concatenate letter
def concat(x, y):
    return x + y

In [71]:
# Use reduce and concat function to concatenate letter in list to get a single word
concat_word = reduce(concat, letter_list)

print(f'concat_word is {concat_word}')

concat_word is Hell World

---
<span style = "color: blue; font-size: 30px">**filter**</span>
<br></br>
**Use to filter item from iterable object which a function return True**

In [72]:
# Create a list of people and their age
people_age = [("Mark", 22), ("John", 17), ("Barnie", 25), ("Duck", 19), ("Alex", 18), ("Sam", 16), ("Susan", 24), ("Delan", 23)]

print(f'people_age = {people_age}')

people_age = [('Mark', 22), ('John', 17), ('Barnie', 25), ('Duck', 19), ('Alex', 18), ('Sam', 16), ('Susan', 24), ('Delan', 23)]

In [77]:
# Create a function to check if the age is over or equal to 18 or not
def age_check(x):
    return x[1] >= 18

In [79]:
# Use filter and age_check function to filter only the people whose age is over 18
age_over = filter(age_check, people_age)

print(age_over)

<filter object at 0x0000020EFF8B34C0>

In [80]:
# You can convert filter object into list using list()
age_over = list(age_over)

print(age_over)

[('Mark', 22), ('Barnie', 25), ('Duck', 19), ('Alex', 18), ('Susan', 24), ('Delan', 23)]

---
<span style = "color: blue; font-size: 30px">**lambda function**</span>
<br></br>
**A function that written in one line using lambda key word accept any number of argument but must have only 1 expression**

In [81]:
# Use lambda function to find area of circle
cir_rad_lamb = lambda x: 3.14 * (x ** 2)

# Find area of circle radius 4.2
cir_rad_lamb(4.2)

55.3896

In [82]:
# Age below 18 is consider young above 40 is consider old between 18-40 is consider adult

# Use lambda function to check age which category they are in
age_category = lambda x: "Young" if x < 18 else ("Old" if x > 40 else "Adult")

# Categorise the age
age_category(27)

'Adult'